* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
}
.left,
.right {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.text {
  width: 40%;
}
.text h2 {
  font-size: 1.9vw;
  border-bottom: 1px solid black;
  color: brown;
}
.text h1 {
  font-size: 3.2vw;
}
.text h5 {
  font-size: 1.3vw;
  font-weight: 500;
}
/* -------------- */

.brown {
  background-color: brown;
}
.nav-item .nav-link {
  font-size: 1.5vw !important;
}

/* ---------  SECTION 3----------------------- */
.sect {
  justify-content: space-evenly;
  display: flex;
  padding: 1vw 1vw;
}
.sec-left {
  width: 49.5%;
  justify-content: center;
  align-items: center;
}
.sec-left img {
  width: 100%;
}
.sec-right {
  width: 49.5%;
}
.order1 {
  display: flex;
}
.part1 h2 {
  display: flex;
  background-color: brown;
  color: white;
  font-size: 1.7vw;
  padding: 0.4vw 0.4vw;
  font-family: sans-serif;
}
.part2 {
  margin-left: 3vw;
}
.part2 span {
  font-size: 2.5vw;
  font-weight: 900;
  color: rgb(135, 135, 185);
}
.part2 p {
  font-size: 1.4vw;
  font-weight: 600;
}
.sec-right {
  background-image: url(form_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.cls0 p {
  font-size: 1.2vw;
  margin: -1.5vw 0 0 2vw;
  font-weight: 500;
}
.texts {
  text-align: center;
  margin-left: 1.4vw;
}
.texts input {
  margin-left: 0.5vw;
}
.imges img {
  margin-left: 3vw;
  width: 100%;
  transform: rotate(15deg);
  margin-top: 2vw;
}

.texts input {
  height: 3.5vh;
  margin: 0.2vw 1vw 0 3vw;
}
.texts .inp3 {
  margin-right: 1.7vw;
}
.texttt {
  margin-left: 2vw;
}
/* ===== */

.rotate {
  display: flex;
}

.privacy {
  display: flex;
  margin-top: 1vw;
  gap: 4vw;
}
.privacy p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: gray;
  margin-top: 1vw;
}
.privacy button {
  background-color: brown;
  color: white;
  font-size: 1.5vw;
  border: none;
  letter-spacing: 0.3vw;
  padding: 0.5vw;
  font-weight: 500;
}

/* -=-=-=-=------------------==============- */

.maiin {
  display: flex;
  justify-content: space-around;
  margin-top: 4vw;
}

/* ------------------------------------------------------------------------------------------- */

.col0text button {
  background-color: red;
  border: none;
  width: 9vw;
  height: 5vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 90px;
}
.col0text h2 {
  font-size: 2.6vw;
}
.col0text button {
  background-color: rgb(102, 1, 1);
  color: white;
  border: none;
  margin-left: 12vw;
  cursor: pointer;
}
.col0text {
  display: flex;
  cursor: pointer;
}
.col0text p {
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
}
.col0text h4 {
  font-size: 2vw;
  font-weight: 500;
  color: brown;
}
.paste {
  margin-top: 6vw;
  width: 10vw;
  margin-left: -5vw;
}
.paste img {
  width: 8vw;
}
/* ---------------------- col2---------------------------------------------------------- */

.col2text h2 {
  margin-bottom: 0.4vw;
}
.col2text p {
  font-size: 1.4vw;
  font-family: Arial, Helvetica, sans-serif;
}
.col2text {
  display: flex;
}
.col2 button {
  background-color: rgb(102, 1, 1);
  color: white;
  margin-left: 3.5vw;
  border: none;
  height: 2.3vw;
  width: 9vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5vw;
  margin-bottom: 1.4vw;
  cursor: pointer;
}
.col2text img {
  margin-top: 1vw;
  width: 12vw;
}
/* ---- PART 2------- */
.col22 {
  display: flex;
}
.col22 p {
  font-size: 1.3vw;
}
.col22 img {
  width: 12vw;
}
/* -----------------col3-------------------------------------------------------------------------- */

.col3 span {
  color: rgb(102, 1, 1);
}
.col3 p {
  font-size: 1.3vw;
  margin-top: 1.4vw;
}
.col3 img {
  margin-bottom: 1.3vw;
}
.col3 button {
  background-color: rgb(102, 1, 1);
  color: white;
  margin-left: 8vw;
  border: none;
  height: 3vw;
  width: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1vw;
  cursor: pointer;
}

/* ===================================== */

.lastsec {
  margin-left: 2vw;
  display: flex;
  margin-top: 3vw;
}
.lastbox {
  margin-bottom: 2vw;
}
.lastbox span {
  color: rgb(102, 1, 1);
}

.paragraph {
  background-color: rgb(102, 2, 2);
  width: 0.9vw;
  height: 14vh;
}
.lastest {
  background-color: rgb(138, 132, 132);
  width: 20vw;
  height: 13.9vh;
  display: flex;
  margin-bottom: 2vw;
  font-size: 0.9vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0vw 1.3vw 1.3vw rgb(61, 61, 61);
}
.lastest div {
  padding: 0.7vw;
}
.clo {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 4vw;
}
.blur {
  color: rgb(218, 213, 213);
  margin-left: 8vw;
  margin-top: 5vw;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 4vw;
}
.lastest button {
  margin-left: 7vw;
  margin-top: 1.7vw;
  background-color: rgb(138, 132, 132);
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.lastest h2 {
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
}

.lastsec span {
  color: rgb(102, 1, 1);
}
/* ------------------------------------------------------------------------------------------ */

.lorem {
  font-size: 1.6vw;
  text-align: justify;
  align-items: center;
  width: 50%;
  margin-left: 3vw;
}
.lorem p {
  line-height: 5vh;
}

/* ----------------------------------------------------------------------------------------------- */

.client button {
  background-color: rgb(250, 33, 33);
  border: none;
  margin-left: 3vw;
  color: white;
  cursor: pointer;
}
/* ------------- */
.client {
  margin-left: 7vw;
  margin-bottom: inline;
}
.client h3 {
  font-size: 1.7vw;
  font-weight: 600;
}
.client p {
  font-size: 1.2vw;
}
.client button {
  margin-top: 1.4vw;
  margin-bottom: 3vw;
  height: 2vw;
  width: 10vw;
  cursor: pointer;
  margin-left: -0.3w;
}
.client img {
  margin-bottom: 3vw;
}
/* -------------------------------------------------------------- */
.icons h3 {
  border-bottom: 0.2vw solid gray;
  margin-bottom: 2vw;
  box-shadow: 0px 0.9vw 5vw -6x gray;
  text-align: center;
}
.imagess {
  display: flex;
  justify-content: space-around;
}
